{% extends "layout.html" %}

{% block title %}
    Drop a ticket
{% endblock %}

{% block main %}

    <h1>Drop a new ticket</h1>

	<form action="/drop" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="description" placeholder="Description" type="text">
        </div>

        <div class="form-group">
            <label for="project">Project</label>
            <select class="form-control" id="project" name="project">
            <option value="" selected disabled>Select</option>
            {% for project in projects %}
                <option>{{project.name}}</option>
            {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Drop ticket</button>
    </form>

{% endblock %}
