{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <h1>List of tickets created by user </h1>

    <table class="a">
    <tr>
        <th>Id</th>
        <th>Project name</th>
        <th>Date</th>
        <th>Status</th>
        <th>View</th>
        <th>Edit</th>
    </tr>
{% for item in items %}
<TR>

    <td>{{item.id}}</td>
    <td>{{item.proj_name}}</td>
    <td>{{item.date}}</td>
    <td>{{item.status}}</td>
    <td>
        <form action="/lookup/{{item.id}}" method="post">
            <button type="submit" name="ticket" value={{item.id}} class="btn-link">view</button>
        </form>
    </td>
    <td>
        <form action="/edit/{{item.id}}" method="post">
            <button type="submit" name="ticket" value={{item.id}} class="btn-link">edit</button>
        </form>
    </td>

</TR>
{% endfor %}
</table>

{% endblock %}
